/*
maaarialara.com
*/

/* CSS RESET */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
  --white: #f9f9f9;
  --color: rgb(194, 202, 255);
  --black: #111111;
  --black-light: rgb(80, 80, 80);

  --pad-S: 0.5rem;
}

::selection {
  background: transparent; 
  color: var(--black);
}

/* my css */
html {
  width: 100%;
  height: 100%;
  font-size: 62, 5%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: 'Times New Roman', Times, serif;
  font-size: 11px;
  color: var(--black);
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* ---HOME--- */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
header p {
    max-width: 20vw;
}
.main-title, .second-title {
  margin-bottom: 2rem;
}

.second-title {
  margin-top: 15rem;
}

main {
    padding: var(--pad-S);
}

/* grid */

.project-item {
  display: grid;
  grid-template-columns: 20% 10% 40% 10% 20%;
}

.project-year, .project-role {
    text-align: center;
}

.watch {
    text-align: center;
}
.project-client-role {
    text-align: right;
}
/* item */
article.project-item {
    margin-bottom: 2rem;
}

h2.project-title {
    font-weight: 600;
    margin-bottom: 1rem;
}

p.project-description {
    margin-bottom: 1rem;
}

a.project-link {
    text-decoration: underline;
}

.close {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  z-index: 9999999;
}

.img-gallery {
  display: flex;
  gap: 0;
  justify-content: center;
}

.img-gallery img {
    max-width: 20px;
    max-height: 25px;
    height: max-content;
}

/*IPAD RESPONSIVE*/
@media screen and (max-width: 1020px) {



.project-role {
    text-align: right;
}
.second-title {
    margin-top: 2rem;
}
  p.project-description {
    display: none;
  }

  h2.project-title {
    font-weight: 600;
    margin-bottom: 0.1rem;
}
a.project-link {
    text-decoration: none;
}

header p {
    max-width: 50vw;
}
article.project-item {
    margin-bottom: 2rem;
    height: 4vh;
}
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / Edge legacy */
* {
  -ms-overflow-style: none;
}


.b-r {
  border-radius: 2%;
}


@media (max-width: 768px) {
  .wrap {
    width: 95vw!important;
    max-height: 95vh;
  }
}
